* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    background-color: #000000;
    font-family: "Roboto";
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1.1px;
    padding: 26px 34px;
    background-color: #b5df91;
}

.shape-section,.compute-section,.result-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 95px;
    margin-top: 255px;
}

.txt {
    font-size: 3em;
    color: #ffffff;
}

/* page 1 */
.shape-selection {
    display: flex;
    justify-content: center;
    column-gap: 70px;
}

.fa-tick{
    width: 100px;
    color: #ffffff;
}

.circle {
    width: 155px;
    height: 155px;
    position: relative;
    border-radius: 50%;
    background-color: #43967e;
}

.circle .fa-tick {
    display: none;
    position: absolute;
    left: 30px;
    top:30px;
}

.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left: 80px solid ;
    border-right: 80px solid ;
    border-bottom: 155px solid #f3aeda;
}

.triangle .fa-tick {
    display: none;
    position: absolute;
    left: -49px;
    top: 55px;
}

.square {
    position: relative;
    width: 155px;
    height: 155px;
    background-color: #e0e0e0;
}

.square .fa-tick {
    display: none;
    position: absolute;
    left: 30px;
    top: 30px;
}

.button {
    display: none;
    width: 215px;
    height: 55px;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    border: solid 2px #ffffff;
    border-radius: 4px;
    font-size: 1.45em;
    font-weight: 600;
}

/* page 2 */
.compute-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    margin-top: 255px;
}

.input-box{
    width: 715px;
    height: 90px;
    padding-top: 8px;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    border: solid 2px #ffffff;
    background-color: #000000;
}

/* page 3 */
.result-section{
    margin-top: -100px;
    row-gap: 40px;
}

.calculation-table{
    display:flex;
    flex-wrap: wrap;
    width: 470px;
    height: 170px;
    margin-top: -22px;
    margin-bottom: 40px;
    font-size: 1.23em;
    font-weight: 300;
    align-content:space-between;
    justify-content:center;
    color:#ffffff;
}

.calculation-table div{
    height: 45px;
    padding-left:15px ;
    padding-top: 10px ;
}

.calculation-table div:nth-child(3n+1){
    width:200px;
    background-color:#2b60ce;

}
.calculation-table div:nth-child(3n+2){
    width: 131px;
    background-color:#4a5d7c;
}

.calculation-table div:nth-child(3n){
    width: 139px;
    background-color: #4b86f7;
}